<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hailei.mapper.AdminMapper">

    <resultMap id="AdminResultMap" type="user">
        <result property="bank_id" column="bank_id" />
        <result property="bank_name" column="bank_name" />
    </resultMap>



    <delete id="deleteByIds">
        delete from Bank where bank_id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{bank_id}
        </foreach>


    </delete>
    <!-- where brand_name = #{brand.brandName}-->
    <select id="selectByPageAndCondition" resultMap="AdminResultMap">
        select *
        from Bank
        <where>
            <if test="user.bank_name != null and user.bank_name != '' ">
                and  bank_name like #{user.bank_name}
            </if>

            <if test="user.phone != null and user.phone != '' ">
                and  phone like #{user.phone}
            </if>

        </where>

        limit #{begin} , #{size}

    </select>
    <select id="selectTotalCountByCondition" resultType="java.lang.Integer">

        select count(*)
        from tb_brand
        <where>
            <if test="bank_name != null and bank_name != '' ">
                and  bank_name like #{bank_name}
            </if>

            <if test="phone != null and phone != '' ">
                and  phone like #{phone}
            </if>


        </where>

    </select>

    <select id="selectByid" resultType="com.hailei.pojo.User">
        select * from Bank where bank_id=#{bank_id}
    </select>
    <update id="updateByid">
        update Bank set money = #{money} where bank_id=#{bank_id}
    </update>

</mapper>